.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

footer {
  margin: auto;
  text-align: center;
}

.flex-col {
  display: flex;
}

main {
  /* border: solid 1px black; */
  margin: 10px auto;
  padding: 20px 10px 10px 0;
  background-color: #e4f9ff;
  border: solid 1px #12cad6;
}

.content {
  /* border: solid 2px red; */
  margin: 0px 10px 0px 10px;
}

article {
  margin: 10px;
  /* background-color: #a3d2ca; */
}

.img-wrapper {
}

.img {
  margin: auto;
  width: 100%;
  height: 25%;
}

aside {
  /* border: 2px solid black; */
  background-color: #12cad6;
  color: white;
  padding: 10px;
}


.form-wrapper {
  width: 100%;
  display: inline;
}

.combo {
  padding: 5px;
  width: 100%;
  background-color: #00C8EB;
  color: white;
  border:2px solid #00C8EB;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select option {
  padding: 5px;
}

